  <div id='container' ng-controller="ShortenController">
  <div style="padding:30px; background-color:grey"> <a href="#/links" style="font-size:40px">Links</span> <a href="#/shorten" style="padding-left:50px; font-size:40px"  > Shorten</span>
</div>
  <div class="creator">
    <form name="myForm" _lpchecked="1">
        <input class="text" type="url" name="url" ng-model="link.url">
        <span class="error" ng-show="myForm.url.$error.required">
            Required!</span>
          <span class="error" ng-show="myForm.url.$error.url">
            Not valid url!</span>
         <!--  <tt>text = {{url.text}}</tt><br/>
          <tt>myForm.input.$valid = {{myForm.input.$valid}}</tt><br/>
          <tt>myForm.input.$error = {{myForm.input.$error}}</tt><br/>
          <tt>myForm.$valid = {{myForm.$valid}}</tt><br/>
          <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br/>
          <tt>myForm.$error.url = {{!!myForm.$error.url}}</tt><br/> -->

        <input type="submit" value="Shorten" ng-click="myForm.$valid && addLink()">
    </form>
    <img class="spinner" src="/spiffygif_46x46.gif">
    <div class="message"></div>
  </div>
</div>

